:root {
    --background: #ebeeff;
    --primary: #AA96F3;
    --secondary: #E5E0FC;
    
    --white: #fff;
    --black: #000;

    --red: #ff7370;
    --red-hover: #ff4a47;

    --green: #58D9A2; 
    --green-hover: #2dc885;
}